MONGO_HOST=mongodb.cims.nyu.edu
MONGO_USER= hw2782
MONGO_PASSWORD=LnIVWVrG
MONGO_DBNAME= hw2782
FLASK_APP=app.py
FLASK_ENV=development
GITHUB_SECRET=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
GITHUB_REPO=https://github.com/hw2782/webapp
